<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{content}}</p>
  <p class="post">Created by {{user.name}} on {{format_date date_created}}</p>
  {{#if comments.length}}
    {{#each comments as |comment| }}
      <div class="post">
        <p>Comment: {{comment.content}}</p>
        <p>Date posted: {{format_date comment.date_created}}</p>
        <p>User ID: {{comment.user_id}}</p>
      </div>
    {{/each}}
  {{else}}
  <h1>No comments</h1>
  {{/if}}
  <p>
    <input id="commentinput" placeholder="Comment">
    <button class="btn btn-primary" id="commentbutton">Comment on this post!</button>
  </p>
</div>
