<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p class="post">Created by {{user.name}} on {{format_date date_created}}</p>
  {{#if comments.length}}
    {{#each comments as |comment| }}
      <div class="post">
        <p>Comment: {{content}}</p>
        <p>Date posted: {{format_date date_created}}</p>
        {{!-- <p>User ID: {{user_id}}</p> --}}
        <p>User: {{user.name}}</p>
      </div>
    {{/each}}
  {{else}}
  <h1>No comments</h1>
  {{/if}}
  <p>
    <input id="commentinput" placeholder="Comment">
    <button class="btn btn-primary" id="commentbutton" data-id="{{id}}">Comment on this post!</button>
  </p>
</div>

<script src="/js/comment.js"></script>
