<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name">Post title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="post-desc">Content:</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" id='newpostbutton' class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

<div class="col-md-6 post-list">
  {{#if posts.length}}
  
    <h3>Current Posts:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button data-id={{post.id}} class="btn btn-sm btn-danger deletebutton">DELETE</button>
        <a href='/updatepost/{{post.id}}' class="btn btn-sm updatepage">UPDATE</a>
      </div>
    </div>
    {{/each}}
  {{else}}
  <h1>No posts</h1>
  {{/if}}
  </div>
</div>

<script src="./js/profile.js"></script>
